<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:bd=http://www.baidu.com/2010/xbdml>
<head>
  <meta http-equiv=X-UA-Compatiblecontent=IE=EmulateIE7>
  <meta name="renderer" content="webkit">
  <meta http-equiv=Content-Type content=“text/html;charset=utf-8″>
  <meta http-equiv=“X-UA-Compatible” content=“chrome=1″ />
  <title>长春海外旅游|长春游玩机构|旅游游玩机构|海外旅游|旅游|15943109777|81204567|81238222|长春游玩机构-海外旅游|www.pxwgj.com</title>
  <meta name="description" content="长春游玩机构:专注港澳旅游,出境旅游,国内旅游,周边短线,私人定制等一系列的旅游公司.长春游玩机构以最低的价格为您提供最优质服务!">
  <meta name="keywords" content="长春海外旅游,长春游玩机构,旅游游玩机构,海外旅游,旅游,15943109777,81204567,81238222,长春游玩机构-海外旅游长春海外旅游,长春游玩机构,旅游游玩机构,海外旅游,旅游,15943109777,81204567,81238222,长春游玩机构-海外旅游">

  <link rel="shortcut icon" href="http://www.028studio.com/favicon.ico" type="image/x-icon">
  <!--[if lt IE 9]>
  <script type="text/javascript" src="http://www.028studio.com/templets/default/js/html5.js"></script>
  <![endif]-->

  <!-- 客服 -->
  <%= stylesheet_link_tag "lanrenzhijia" %>
  <%= javascript_include_tag "jquery.bxSlider.min" %>
  <!-- 客服end -->
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "4713898", "cityDataWithBus.pack", "infowindow2", "jquery", "jquery.mixitup.min", "jquery.plugin.min", "jquery.SuperSlide.2.1.1", "jquery.tools.min", "jquery-1.7.2.min", "jquery-1", "mapbar31.2", "sendtool", "template" %>
</head>
<body>

<%= yield %>

</body>
</html>
